*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    .modal{
        max-width: 500px;
        margin: auto;
        padding-top: 52px;
        padding-right: 100px;
        padding-left: 100px;
        padding-bottom: 40px;
        border-bottom: solid 10px #46A358;
    }

    .modal .title{
        text-align: center;
        margin-bottom: 40px;
    }
    .modal .title a{
        font-weight: 500;
        font-size: 20px;
        line-height: 80%;
        color: #3d3d3d;
        text-decoration: none;
    }

    .modal .title a:last-of-type{
        color: #46A358;

    }
    .modal .title span{
        font-weight: 250;
        font-size: 18px;
        line-height: 89%;
        color: #3d3d3d;
        margin: 0 11px;}
}

.text{
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
}
.register{
    margin-bottom: 36px;

    border-radius: 5px;
    width: 300px;
    height: 45px;
    background: #46a358;
}
.user{
    width: 300px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 14px;
    margin-bottom: 16px;


    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

}
.email{
    width: 300px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 14px;
    margin-bottom: 16px;

}
.password{
    width: 300px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 14px;
    margin-bottom: 16px;
}
.paragraph{
    width: 300px;
    height: 16px;
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
}
.google{
    width: 300px;
    height: 40px;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    text-align: center;
    color: #727272;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    margin-bottom: 15px;
    margin-right: 10px;

}
.facebook{
    width: 300px;
    height: 24px;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    text-align: center;
    color: #727272;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    margin-right: 10px;



}
.close{
    width: 18px;
    height: 18px;
    fill: #46a358;
<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M3.17007 3.17007C3.39682 2.94331 3.76447 2.94331 3.99122 3.17007L9 8.17884L14.0088 3.17007C14.2355 2.94331 14.6032 2.94331 14.8299 3.17007C15.0567 3.39682 15.0567 3.76447 14.8299 3.99122L9.82116 9L14.8299 14.0088C15.0567 14.2355 15.0567 14.6032 14.8299 14.8299C14.6032 15.0567 14.2355 15.0567 14.0088 14.8299L9 9.82116L3.99122 14.8299C3.76447 15.0567 3.39682 15.0567 3.17007 14.8299C2.94331 14.6032 2.94331 14.2355 3.17007 14.0088L8.17884 9L3.17007 3.99122C2.94331 3.76447 2.94331 3.39682 3.17007 3.17007Z" fill="#46A358" />
</svg>




}





.container{
    max-width: 1200px;
    margin: auto;
    height: 53px;
}

header{
    padding-top:31px;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header .container{
   border-bottom: 0.30px solid rgba(70, 163, 88, 0.5);
    width: 1200px;
    height: 0px;
padding-bottom: 20px }


header ul{
    display: flex;
    align-items: center;}


.logo{
    fill: #46a358;
}

.block{
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    display: flex;
    gap: 50px;
    text-decoration-line: none;
}


.block:hover {
    font-weight: 700

}





.login_btn{
    border-radius: 6px;
    width: 100px;
    height: 35px;
    background: #46a358;
    padding: 7px 17px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration-line: none;

}
main .conteinerbaner{
    display: flex;
    width: 1200px;
    height: 450px;
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
}
.conteinerbaner h2{
 margin-top: 68px;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 7px;
}
.conteinerbaner h1{
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 5px;

}
.conteinerbaner h1 span{
    color: #46a358;

}
.conteinerbaner p{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 45px;
}
.containerbtn{
    border-radius: 6px;
    width: 140px;
    height: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    background: #46a358;
    text-decoration-line: none;
}




